<div class="card info-card">
  <div class="card-specialties">
    <div class="row">
      <div class="col-2 icon">
        <div class="specialty-icon">
          <img
            src="/assets/icons/specialties-icon.png"
            alt="specialty icon"
            width="26"
          />
        </div>
      </div>
      <div class="col-8">
        <div class="description-title">Specialties</div>
        <div class="description">{{ doctor.specialty }}</div>
      </div>
    </div>
  </div>

  <div class="card-specialties">
    <div class="row">
      <div class="col-2 icon">
        <div class="specialty-icon">
          <img
            src="/assets/icons/education-icon.png"
            alt="specialty icon"
            width="26"
          />
        </div>
      </div>
      <div class="col-8">
        <div class="description-title">Education</div>

        <div class="education-block">
          <div class="description-education-bold">
            {{ doctor.degreeObtained1 }}
          </div>
          <div class="description-education">{{ doctor.university1 }}</div>
        </div>

        <div class="education-block">
          <div class="description-education-bold">
            {{ doctor.degreeObtained2 }}
          </div>
          <div class="description-education">
            {{ doctor.university2 }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-specialties">
    <div class="row">
      <div class="col-2 icon">
        <div class="specialty-icon">
          <img
            src="/assets/icons/about-me-icon.png"
            alt="specialty icon"
            width="26"
          />
        </div>
      </div>
      <div class="col-8">
        <div class="description-title">About Me</div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu non
          sodales neque sodales. Libero nunc consequat interdum varius sit. Arcu
          vitae elementum curabitur vitae nunc sed velit dignissim.
        </div>
      </div>
    </div>
  </div>
</div>
