.override-background {
  background-color: white;
}

.specialty-name {
  font-size: 11px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-top: 5%;
  font-weight: 500;
}

.section-title {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 5% 0 0 5%;
}

.specialty-grid {
  padding: 0 5% 5% 5%;
}

.specialty-card {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.specialty-card:hover {
  background-color: rgb(240, 240, 240);
  transition: background-color 0.5s ease-in-out;
  border-radius: 15px;
}
