<body class="override-background">
  <div *ngIf="toggleComponent.specialtiesVisible">
    <p class="section-title">Select specialty</p>
    <div class="specialty-grid row row-cols-3 row-cols-md-4 g-3">
      <div
        *ngFor="let item of specialties"
        class="col specialty-card"
        routerLink="/doctor-card"
        (click)="selectSpecialty(item.specialty)"
      >
        <img
          src="{{ item.image }} "
          class="card-img-top rounded-4"
          width="93"
          alt="..."
        />
        <p class="specialty-name">{{ item.specialty }}</p>
      </div>
    </div>
  </div>
</body>
