<nav *ngIf="toggleComponent.navbarVisible" class="navbar bg-body-tertiary">
  <div class="navbar-container container-fluid d-flex align-items-center">
    <i class="material-icons arrow_back" routerLink="/">arrow_back</i>
    <a class="navbar-brand d-flex justify-content-center" routerLink="/">
      <img
        src="/assets/myDoc.png"
        alt="Logo"
        width="50"
        class="d-inline-block align-text-top"
      />
    </a>
    <div class="menu-holder">
      <i class="material-icons menu">menu</i>
    </div>
  </div>
</nav>
