.button-block {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 10px; */
  margin-bottom: 5vh;

  width: 100%;
  padding: 0.5em;
  position: absolute;
  bottom: 0;
  left: 0;
  /* box-shadow: -1px -1px 1em 1px rgba(0, 0, 0, 0.15); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
  height: 7em;
  /* background: linear-gradient(0deg, #000, transparent) !important; */
}

.consult-now-button {
  flex: 1;
  display: flex;
  white-space: nowrap;
  height: 6vh;
  width: 25vh;
  justify-content: center;
  color: #fff;
  background: #ff6950;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1em;
  border-radius: 0.75em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-position: 50%;
  will-change: background-color, background-size;
  transition: background-color 0.5s, background-size 0.5s;
}
