picture {
  display: block;
  width: 100%;
}

.background-image {
  background-image: url("/assets/doctor-bg@1x.472479ac.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
