.call-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.85)),
    url("/assets/doctor-bg@1x.472479ac.png");
  background-size: cover;
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
}

.image-container {
  position: relative;
  width: 100%;
  padding: 0 0.5em;
  overflow: visible;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctor-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doctor-image {
  width: 8em;
  height: 8em;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 1em 1px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  object-fit: cover;

  /* margin-top: -100px;

  background-image: url('/assets/doctor.jpg');
  background-size: cover;
  background-position: center bottom; */
}

.doctor-name {
  margin-top: 0.5em;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 5% 10%;
}

.phone-number {
  flex-shrink: 0;
  width: calc(100%);
  max-width: 30em;
  padding: 0.5em;
  box-sizing: border-box;
  z-index: 1;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
